@model Recepedia.Models.Receta

@{
    ViewData["Title"] = "Create";
}
<head>
    <script>
        a = 1;
        function addIngrediente() {

            //Valida campos (Ignora el primero)
            if (a == 1) {
                var inputs = document.getElementById("_Div1").querySelectorAll("input");
                var Vacios = false;
                for (var ElInput in inputs) {
                    Valor = inputs[ElInput];
                    if (typeof Valor == "object") {
                        if (Valor.value == "") {
                            Vacios = true;
                        }
                    }
                }
            }
            else {
                var inputs = document.getElementById("ingredientes").querySelectorAll("input");
                var Vacios = false;
                for (var ElInput in inputs) {
                    Valor = inputs[ElInput];
                    if (typeof Valor == "object") {
                        if (Valor.value == "") {
                            Vacios = true;
                        }
                    }
                }
            }


            if (Vacios == false) {
                //Agrega los campos
                a++;
                var div = document.createElement('div');
                div.setAttribute('class', 'form-inline');
                div.setAttribute('id', '_Div' + a);
                div.innerHTML = '<div style="clear:both"><input class="CantidadIngrediente_SubirReceta" name="_Cantidad' + a + '" id="_Cantidad' + a + '" type="text" placeholder="Cantidad" spellcheck="true" required/></div><div class="col-md-2"><input class="NombreIngrediente_SubirReceta" name="_Nombre' + a + '" id="_Nombre' + a + '" type="text" placeholder="Nombre del ingrediente" spellcheck="true" required/></div><br/><br/><br/><br/>';
                document.getElementById('ingredientes').appendChild(div); document.getElementById('ingredientes').appendChild(div);
            }
            else {
                alert("Ingrese el ingrediente correctamente");
            }
        }

        function RemoveIngrediente() {

            if (a > 1) {
                $('#_Cantidad' + a).remove();
                $('#_Nombre' + a).remove();
                $('#_Div' + a).remove();
                a--;
            }
        }

    </script>

</head>
<h1>Create</h1>

<h4>Receta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreReceta" class="control-label"></label>
                <input asp-for="NombreReceta" class="form-control" />
                <span asp-validation-for="NombreReceta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select class="form-control" asp-for="CategoriaIdCategoria" asp-items="ViewBag.Categorias">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="CategoriaIdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dificultad</label>
                <select class="form-control" asp-for="DificultadIdDificultad" asp-items="ViewBag.Dificultades">
                    <option value="">Seleccione una dificultad</option>
                </select>
                <span asp-validation-for="DificultadIdDificultad" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Preparacion" class="control-label"></label>
                <textarea asp-for="Preparacion" class="form-control" ></textarea>
                <span asp-validation-for="Preparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoPreparacion" class="control-label"></label>
                <input asp-for="TiempoPreparacion" class="form-control" />
                <span asp-validation-for="TiempoPreparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPlatos" class="control-label"></label>
                <input asp-for="CantidadPlatos" class="form-control" />
                <span asp-validation-for="CantidadPlatos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
