@model Recepedia.Models.Receta

@{
    ViewData["Title"] = "Create";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main3.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="~/Content/Photo.css" TYPE="text/css">

</head>
<h1>Nueva Receta</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreReceta" class="control-label"></label>
                <input asp-for="NombreReceta" class="form-control" />
                <span asp-validation-for="NombreReceta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select class="form-control" asp-for="CategoriaIdCategoria" asp-items="ViewBag.Categorias">
                    <option value="">Seleccione una categoría</option>
                </select>
                <span asp-validation-for="CategoriaIdCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dificultad</label>
                <select class="form-control" asp-for="DificultadIdDificultad" asp-items="ViewBag.Dificultades">
                    <option value="">Seleccione una dificultad</option>
                </select>
                <span asp-validation-for="DificultadIdDificultad" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Preparacion" class="control-label"></label>
                <textarea asp-for="Preparacion" class="form-control" ></textarea>
                <span asp-validation-for="Preparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoPreparacion" class="control-label"></label>
                <input asp-for="TiempoPreparacion" class="form-control" />
                <span asp-validation-for="TiempoPreparacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPlatos" class="control-label"></label>
                <input asp-for="CantidadPlatos" class="form-control" />
                <span asp-validation-for="CantidadPlatos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
