USE [master]
GO
/****** Object:  Database [RecepediaDB]    Script Date: 20/11/2023 06:21:26 p. m. ******/
CREATE DATABASE [RecepediaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecepediaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RecepediaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecepediaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RecepediaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecepediaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecepediaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nom_Categoria] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dificultad]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dificultad](
	[IDDificultad] [int] IDENTITY(1,1) NOT NULL,
	[NombreDificultad] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Dificultad] PRIMARY KEY CLUSTERED 
(
	[IDDificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[IdFavorito] [int] IDENTITY(1,1) NOT NULL,
	[IdReceta] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFavorito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[IDIngrediente] [int] IDENTITY(1,1) NOT NULL,
	[NombreIngrediente] [nvarchar](max) NOT NULL,
	[Cantidad] [nvarchar](max) NOT NULL,
	[RecetaIDReceta] [int] NULL,
 CONSTRAINT [PK_Ingrediente] PRIMARY KEY CLUSTERED 
(
	[IDIngrediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[IDReceta] [int] IDENTITY(1,1) NOT NULL,
	[NombreReceta] [nvarchar](max) NOT NULL,
	[CategoriaIdCategoria] [int] NOT NULL,
	[Preparacion] [nvarchar](max) NOT NULL,
	[TiempoPreparacion] [int] NOT NULL,
	[CantidadPlatos] [real] NOT NULL,
	[DificultadIDDificultad] [int] NOT NULL,
	[NombreFoto] [nvarchar](max) NOT NULL,
	[Cant_Likes] [int] NOT NULL,
	[Autor] [int] NOT NULL,
	[UsuarioIDUsuario] [int] NULL,
 CONSTRAINT [PK_Receta] PRIMARY KEY CLUSTERED 
(
	[IDReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/11/2023 06:21:26 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Usuario] [nvarchar](max) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Mail] [nvarchar](max) NOT NULL,
	[Contraseña] [nvarchar](16) NOT NULL,
	[RepetirContraseña] [nvarchar](max) NOT NULL,
	[Admin] [bit] NOT NULL,
	[NombreFoto] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231102002120_Inicial', N'7.0.13')
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nom_Categoria]) VALUES (1, N'Aves')
INSERT [dbo].[Categoria] ([IdCategoria], [Nom_Categoria]) VALUES (2, N'Bebidas')
INSERT [dbo].[Categoria] ([IdCategoria], [Nom_Categoria]) VALUES (3, N'Carnes')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Dificultad] ON 

INSERT [dbo].[Dificultad] ([IDDificultad], [NombreDificultad]) VALUES (1, N'Fácil')
INSERT [dbo].[Dificultad] ([IDDificultad], [NombreDificultad]) VALUES (2, N'Medio')
INSERT [dbo].[Dificultad] ([IDDificultad], [NombreDificultad]) VALUES (3, N'Difícil')
SET IDENTITY_INSERT [dbo].[Dificultad] OFF
SET IDENTITY_INSERT [dbo].[Favoritos] ON 

INSERT [dbo].[Favoritos] ([IdFavorito], [IdReceta], [IdUsuario]) VALUES (1, 1, 3)
SET IDENTITY_INSERT [dbo].[Favoritos] OFF
SET IDENTITY_INSERT [dbo].[Ingrediente] ON 

INSERT [dbo].[Ingrediente] ([IDIngrediente], [NombreIngrediente], [Cantidad], [RecetaIDReceta]) VALUES (1, N'Cebolla', N'2', NULL)
INSERT [dbo].[Ingrediente] ([IDIngrediente], [NombreIngrediente], [Cantidad], [RecetaIDReceta]) VALUES (2, N'Leche', N'200gr', NULL)
INSERT [dbo].[Ingrediente] ([IDIngrediente], [NombreIngrediente], [Cantidad], [RecetaIDReceta]) VALUES (3, N'Harina 000', N'300gr', NULL)
SET IDENTITY_INSERT [dbo].[Ingrediente] OFF
SET IDENTITY_INSERT [dbo].[Receta] ON 

SET IDENTITY_INSERT [dbo].[Receta] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IDUsuario], [Nombre_Usuario], [Nombre], [Apellido], [Mail], [Contraseña], [RepetirContraseña], [Admin], [NombreFoto]) VALUES (1, N'aylu_lee', N'Aylen', N'Lee', N'aylulee@ort.edu.ar', N'��큒쉍㘀�㸱嗐', N'��큒쉍㘀�㸱嗐', 1, N'esto es una foto')
INSERT [dbo].[Usuario] ([IDUsuario], [Nombre_Usuario], [Nombre], [Apellido], [Mail], [Contraseña], [RepetirContraseña], [Admin], [NombreFoto]) VALUES (3, N'juli_taiter', N'Julian', N'Taiter', N'julian@ort.edu.ar', N'taiter', N'taiter', 0, N'foto.jpg')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Index [IX_Ingrediente_RecetaIDReceta]    Script Date: 20/11/2023 06:21:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Ingrediente_RecetaIDReceta] ON [dbo].[Ingrediente]
(
	[RecetaIDReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receta_CategoriaIdCategoria]    Script Date: 20/11/2023 06:21:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Receta_CategoriaIdCategoria] ON [dbo].[Receta]
(
	[CategoriaIdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receta_DificultadIDDificultad]    Script Date: 20/11/2023 06:21:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Receta_DificultadIDDificultad] ON [dbo].[Receta]
(
	[DificultadIDDificultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receta_UsuarioIDUsuario]    Script Date: 20/11/2023 06:21:26 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Receta_UsuarioIDUsuario] ON [dbo].[Receta]
(
	[UsuarioIDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [FK_Ingrediente_Receta_RecetaIDReceta] FOREIGN KEY([RecetaIDReceta])
REFERENCES [dbo].[Receta] ([IDReceta])
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [FK_Ingrediente_Receta_RecetaIDReceta]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Categoria_CategoriaIdCategoria] FOREIGN KEY([CategoriaIdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Categoria_CategoriaIdCategoria]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Dificultad_DificultadIDDificultad] FOREIGN KEY([DificultadIDDificultad])
REFERENCES [dbo].[Dificultad] ([IDDificultad])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Dificultad_DificultadIDDificultad]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Usuario_UsuarioIDUsuario] FOREIGN KEY([UsuarioIDUsuario])
REFERENCES [dbo].[Usuario] ([IDUsuario])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Usuario_UsuarioIDUsuario]
GO
USE [master]
GO
